<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentation | problem.py</title>
    <link href="styles/problem.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1 style="font-family:'Times New Roman', Times, serif ;">Problem.py</h1>
    <section>
        <h2>specific_problem</h2>
        <h3>Finds specific problem based on id passed into the route.</h3> 
        <div class = "parameters">
            <h4>Parameters</h4>
            <p> id : int </p>
            <p> The index of the problem in the database needed to be returned to the user. </p>
        </div>
        
        <div class="returns">
            <h4>Returns</h4>
            <p>Returns a dictionary containing the information of a problem.</p>
        </div>

        <div class = "code_example">
            <h4>Example problem structure:</h4>
            <pre><code>
            {
            "id": 1,
            "title": "Two Sum",
            "difficulty": "Easy",
            "objectives": [
                "Given an array of integers nums and an integer target, return indices of the two numbers such that they add up to target.", 
                "You may assume that each input would have exactly one solution, and you may not use the same element twice.",
                "You can return the answer in any order."
            ],
            "examples": [
                {
                "input": "nums = [2,7,11,15], target = 9",
                "output": "[0,1]",
                "explanation": "Because nums[0] + nums[1] == 9, we return [0, 1]."
                },
                {
                "input": "nums = [3,2,4], target = 6",
                "output": "[1,2]"
                },
                {
                "input": "nums = [3,3], target = 6",
                "output": "[0,1]"
                }
            ],
            "starterCode": "def twoSum(nums: List[int], target: int) -> List[int]:\n\t# Code here...\n\tpass",
            # NEW FIELDS
            time: "T00:05:00",  # AMOUNT OF TIME PLAYER HAS FOR THE QUESTION,
            testCases: [{ # CASES THE USER CODE IS GOING TO BE CHECKED WITH
                "inputs": [[2,7,11,15], 9] 
                "output": [0,1]
            }, {
                "inputs": [[3,2,4], 6]
                "output": [1,2]
            }, {
                "inputs": [[3,3], 6]
                "output": [0,1]
            }],
            "functionName" : "twoSum",
            }
            </code></pre>
        </div>   
    </section>
        
        
    <div class = "header"><strong><h1 style="font-family:'Times New Roman', Times, serif ;">Random Problem:</h1></strong></div>
    <div class = "header2"><h2>Finds random problem from the database of problems, which the users will answer.</h2> </div>
        <p>
        <strong>Returns</strong>
        
            <em>Returns a dictionary containing the information of a problem.</em><br>
            
        
            <h3>Example problem structure:</h3>
       
        <div class = "code_example">
            <pre><code>
                {
                "id": 1,
                "title": "Two Sum",
                "difficulty": "Easy",
                "objectives": [
                    "Given an array of integers nums and an integer target, return indices of the two numbers such that they add up to target.",<br>
                    "You may assume that each input would have exactly one solution, and you may not use the same element twice.",<br>
                    "You can return the answer in any order."
                ],
                "examples": [
                    {
                    "input": "nums = [2,7,11,15], target = 9",
                    "output": "[0,1]",
                    "explanation": "Because nums[0] + nums[1] == 9, we return [0, 1]."
                    },
                    {
                    "input": "nums = [3,2,4], target = 6",
                    "output": "[1,2]"
                    },
                    {
                    "input": "nums = [3,3], target = 6",
                    "output": "[0,1]"
                    }
                ],
                "starterCode": "def twoSum(nums: List[int], target: int) -> List[int]:\n\t# Code here...\n\tpass",
                # NEW FIELDS
                time: "T00:05:00",  # AMOUNT OF TIME PLAYER HAS FOR THE QUESTION,
                testCases: [{ # CASES THE USER CODE IS GOING TO BE CHECKED WITH
                    "inputs": [[2,7,11,15], 9] 
                    "output": [0,1]
                }, {
                    "inputs": [[3,2,4], 6]
                    "output": [1,2]
                }, {
                    "inputs": [[3,3], 6]
                    "output": [0,1]
                }],
                "functionName" : "twoSum", 
                }  
            """
            return random.choice(array)
            </code></pre>
        </div>
    </p>
</body>
</html>